<%= form_for(@recipe) do |f| %>
  <%= render 'layouts/errors' %>
 
  <div>
    <%= f.label :Name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :Type %>
    <%= f.select :kind, Recipe::KIND, prompt: "Choose your option"  %>
  </div>

  <div>
    <%= f.label :Portions %>
    <%= f.text_field :portion %>
  </div>

   <div>
    <%= f.label :Time_To_Prepare %>
    <%= f.time_select :duration %>
  </div>

  <div>
    <%= f.label :Intro %>
    <%= f.text_area :intro, cols: 20, rows: 7 %>
  </div>

  <div>
    <%= f.label :Ingridients %>
    <%= f.text_area :stuff, cols: 20, rows: 7 %>
  </div>

  <div>
    <%= f.label :Calories %>
    <%= f.number_field :calories %>
  </div>

  <div>
    <%= f.label :Prepare_Mode %>
    <%= f.text_area :prepare_mode, cols: 20, rows: 7 %>
  </div>

  <div>
    <%= f.label :Cost %>
    <%= f.number_field :cost %>
  </div>

  <div>
    <%= f.label :Poster %>
    <%= f.text_field :poster, placeholder: ".GIF, .JPEG ou .PNG" %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to "Cancel", root_path %>
  </div>
<% end %>