<div class="owl-carousel owl-theme">
  <div class="item"> <%= image_tag('desserts.png') %> </div>
  <div class="item"> <%= image_tag('drinks.png') %> </div>
  <div class="item"> <%= image_tag('snaks.png') %> </div>
</div>

<h1 class="title">Week's Menu</h1>

<section>
  <div>
    <h2 class="title title__subtitle">Pasta</h2>
    <% @recipes.where(kind: 'Pasta').each do |recipe| %>
      <%= link_to(recipe) do %>
        <h3><%= recipe.name %></h3>
        <p><%= recipe.intro %></p>
      <% end %>
    <% end %>
  </div>

  <div>
    <h2 class="title title__subtitle">Desserts</h2>
    <% @recipes.where(kind: 'Desserts').each do |recipe| %>
      <%= link_to(recipe) do %>
        <h3><%= recipe.name %></h3>
        <p><%= recipe.intro %></p>
      <% end %>
    <% end %>
  </div>
</section>


<%= link_to "New Recipe", new_recipe_path %>
