<h1>I Saw on The Internet</h1>

<% @recipes.each do |recipe| %>
   <article>
      <header>
        <h2><%= link_to recipe.name, recipe %></h2>
        <p>
          <%= calories_formater(recipe) %>
        </p>
        <span>Cost: <%= number_to_currency(recipe.cost)%></span>

      </header>
      <h3>Ingridients</h3>
      <p><%= truncate(recipe.stuff, length: 140) %></p>
      
      <h3>Prepare Mode</h3>
      <p><%= recipe.prepare_mode %></p>
      
   </article>
<% end %>

<%= link_to "New Recipe", new_recipe_path %>
