<div class="owl-carousel owl-theme">
  <div class="item"> <%= image_tag('desserts.png') %> </div>
  <div class="item"> <%= image_tag('drinks.png') %> </div>
  <div class="item"> <%= image_tag('snaks.png') %> </div>
</div>

<h1 class="title">Week's Menu</h1>

<section class="grid">
  <div class="grid__column grid__column--3">
    <h2 class="title title__subtitle">Pasta</h2>
    <ul class="recipe-list">
    <% pasta = @recipes.where(kind: 'Pasta') %>
      <% pasta.each_with_index do |recipe| %>
        <li>
          <%= link_to(recipe) do %>
            <h3 class="recipe-list__name"><%= recipe.name %></h3>
            <p class="recipe-list__resume"><%= recipe.intro %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="grid__column grid__column--3">
    <h2 class="title title__subtitle">Drinks</h2>
    <ul class="recipe-list">
      <% @recipes.where(kind: 'Drinks').each do |recipe| %>
        <li>
          <%= link_to(recipe) do %>
            <h3 class="recipe-list__name"><%= recipe.name %></h3>
            <p class="recipe-list__resume"><%= recipe.intro %></p>
          <% end %>
        <li>
      <% end %>
    </ul>
  </div>

  <div class="grid__column grid__column--3">
    <h2 class="title title__subtitle">Snacks</h2>
    <ul class="recipe-list">
      <% @recipes.where(kind: 'Snacks').each do |recipe| %>
        <li>
          <%= link_to(recipe) do %>
            <h3 class="recipe-list__name"><%= recipe.name %></h3>
            <p class="recipe-list__resume"><%= recipe.intro %></p>
          <% end %>
        <li>
      <% end %>
    </ul>
  </div>

  <div class="grid__column grid__column--3">
    <h2 class="title title__subtitle">Desserts</h2>
    <ul class="recipe-list">
      <% @recipes.where(kind: 'Desserts').each do |recipe| %>
        <li>
          <%= link_to(recipe) do %>
            <h3 class="recipe-list__name"><%= recipe.name %></h3>
            <p class="recipe-list__resume"><%= recipe.intro %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</section>