<header>
  <h1><%= @recipe.name %></h1>
</header>

<h2>Ingridients</h2>
<p>
  <%= @recipe.stuff %>
</p>

<h2>Calories</h2>
<p> <%= @recipe.calories %></p>

<h2>Prepare Mode</h2>
<p>
  <%= @recipe.prepare_mode %>
</p>

<h3>Cost</h3>
<p><%= @recipe.cost %></p>

<%= link_to "Back to Recipes", recipes_path %>
<%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>