<!DOCTYPE html>
<html>
  <head>
    <title>ISawOnTheInternet</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,700|Alegreya:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= flash_messages %>
    <%= yield %>
    <%= render 'layouts/footer'%>
    <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
  </body>
</html>
